.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 15vh;
  width: 100vw;
  background-color: blanchedalmond;
}
.searchContainer {
  display: flex;
  align-items: flex-start;
  margin-left: 5vw;
}
.input {
  height: 3vh;
  width: 50vw;
  font-size: 2.9vh;
}
.button {
  height: 3.5vh;
  width: 10vw;
  border-radius: 10px;
  margin: 5px 10px;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}
.requestButtons {
  display: flex;
}
.requestInput {
  min-height: 10vh;
  width: 50vw;
  resize: vertical;
  overflow: auto;
  margin-bottom: 2vh;
  text-align: left;
  vertical-align: top;
  font-size: 2vh;
}
.label {
  height: 3.5vh;
  width: 10vw;
  border-radius: 10px;
  margin: 5px 10px;
  background-color: white;
  border: solid 1px black;
  text-align: center;
  justify-content: center;
}
input[type='radio']:checked + label {
  color: red;
}

.radioButton {
}
